* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(../projeto-chale-hotel/imagens/bg.png);
    margin: 15px;
}

#container {
    min-width: 740px;
    max-width: 1180px;
    margin: 0 auto;
    background: #ede9cc url(../projeto-chale-hotel/imagens/bg-container.png) top center repeat-y;
}

#topo {
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/****** Topo do Site ******/
/** Área do Logo **/
#area-logo {
    background: url(../projeto-chale-hotel/imagens/topo-imagem-principal.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: 1;
}

.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(../projeto-chale-hotel/imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;
}

/** Área do Menu **/
#area-menu {
    background: url(../projeto-chale-hotel/imagens/topo-imagem-lateral.png) no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 250px;
    z-index: 2;
}
#conteudo-menu {
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

/* Menu Locais */
#menu-locais {
    border-top: 1px solid #b5ab56;
    border-bottom: 1px solid #b5ab56;
    padding: 5px 0px 5px 0px;
    font-size: 0.7em;
    color: #8b8448;
}

#menu-locais .locais {
    float: left;
    line-height: 2.1em;
}

a.reserva {
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
}

/* Menu Vertical e Depoimento */
#menu {
    margin-top: 15px;
}

#menu ul {
    float: left;
}

#menu li a {
    color: #6e672c;
    padding: 5px;
    line-height: 30px;
    font-size: 0.9em;
}

#menu li a:hover {
    background: #fdf6be;
}

#relato {
    float: right;
}

/****** Conteúdo ******/
.conteudo {
    margin: 0 auto;
    width: 90%;
    font-size: 1em;
}

/* Primario */
#conteudo-primario {
    float: left;
    width: 50%;
    background: url(../projeto-chale-hotel/imagens/bg-area-principal.png) top left repeat-x;
    padding: 15px 0px;
}

#conteudo-secundario {
    float: right;
    width: 50%;
    background: url(../projeto-chale-hotel/imagens/bg-area-lateral.png) top left repeat-x;
    padding: 15px 0px;
}

.conteudo h2 {
    font-size: 1.1em;
    padding: 5px 0px;
    color: #7d7640;
}

.conteudo p {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Secundário */
.conteudo ul {
    margin-top: 5px;
}

.conteudo li {
    padding: 3px;
    height: 105px;
    border-bottom: 1px solid #ece8c8;
}

.conteudo li a h3 {
	font-size: 1.1em;
	color: #615b2d;
	padding: 5px 0;
	background: url(../imagens/ornamento.png) no-repeat center right;
}

.conteudo li a p {
    color: black;
    font-size: 0.9em;
}

.conteudo li:hover {
	background: #f6f3d6;
	cursor: pointer;
}

#conteudo-secundario li a img {
    float: left;
    margin: 5px;
}

/****** Rodapé ******/
#rodape {
    clear: both;
    padding: 15px;
	background: #fff url(../projeto-chale-hotel/imagens/bg-rodape.png) repeat-x top;
    color: #7d7640;
}